:root {
    --main-yellow: #ffbe00; /* Main color */
}

/*===== Background Color =====*/
.yellow-bg,
.yellow-bg-layer:before,
.sudo-bg-yellow:before,
.popular-dish-info > a.yellow-bg,
.read-more:hover,
.read-more:focus,
.search-frm > button:hover,
.search-frm > button:focus,
.newsletter-frm > button:hover,
.newsletter-frm > button:focus,
.sign-form button:hover,
.sign-form button:focus,
.booking-table > table tbody td h5:before,
.booking-table > table tbody td a.detail-link:hover,
.booking-table > table tbody td a.detail-link:focus,
.profile-info > a.change-password.yellow-clr::before,
.profile-img-upload-btn > label.red-bg:hover,
.responsive-logomenu > span.red-bg:hover,
.responsive-menu > span.red-bg:hover,
.register-btn > a.red-bg:hover,
.track-popup-innr > form button.red-bg:hover,
.track-popup-innr > form a.red-bg:hover,
.order-time > a.red-bg:hover,
.order-time > a.red-bg:focus,
a.close-buyer:hover,
a.close-buyer:focus,
a.thanks-close:hover,
a.thanks-close:focus,
.restaurant-search-form,
.chef-box,
.menu-sec > a:hover {
    background-color: var(--main-yellow);
}

/* Yellow background container */
.yellow-bgg {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    height: 50px;
}

/*===== Text Color =====*/
.yellow-clr,
nav > div ul > li:hover > a,
nav > div > ul > li a:focus,
.bottom-bar p a:hover,
.bottom-bar p a:focus,
.popular-dish-info > a.yellow-bg:hover,
.popular-dish-info > a.yellow-bg:focus,
.follow-us > a:hover,
.follow-us > a:focus,
.error-page-inner > a:hover,
.error-page-inner > a:focus,
.gallery-bx > h3 a:hover,
.gallery-bx > h3 a:focus,
.red-bg .user-info-inner > h5 a:hover,
.red-bg .user-info-inner > h5 a:focus,
.red-bg .user-info-inner > span a:hover,
.red-bg .user-info-inner > span a:focus,
.booking-table > table tbody td h5 a:hover,
.booking-table > table tbody td h5 a:focus,
.on,
.menu-lst > ul li:hover > a,
.menu-lst > ul li > a:focus,
.menu-lst > ul li.active > a {
    color: var(--main-yellow);
}

/*===== Border Color =====*/
.filter-buttons > li.active a,
.error-page-inner > a,
.user-info.red-bg > img {
    border-color: var(--main-yellow);
}

/*===== Border Top Color =====*/ 
.border-top {
    border-top-color: var(--main-yellow);
}

/*===== Border Right Color =====*/ 
.border-right {
    border-right-color: var(--main-yellow);
}

/*===== Border Bottom Color =====*/
.border-bottom {
    border-bottom-color: var(--main-yellow);
}

/*===== Border Left Color =====*/ 
.border-left {
    border-left-color: var(--main-yellow);
}
